html {
    background-color: #d8e3e7;
    font-family: 'Noto Serif SC', serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

header {
    margin-top: 30px;
    text-align: center;
}

header>#header-top {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}

.td-left {
    width: 100px;
    font-weight: 600;
}

.div-middle-topic {
    font-weight: 700;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 20px;
    margin-bottom: 10px;

}

.div-middle-content {
    padding-left: 30px;
}

.div-middle-content-left {
    width: 400px;
    font-weight: 700;
    float: left;
}

.div-middle-content-right {
    float: left;
    text-align: right;
    width: 465px;
}

.div-middle-content-bottom {
    clear: both;
}

#content {
    font-family: '楷体';
}